    
{% extends 'base.html' %}

{% block content %}
<div class='row'>
    <div class='col-sm-6'>
    <h1>Search</h1>

    {% for biz in results.businesses %}
    <li>
        <a href='#' class='biz-item' 
                    data-name='{{ biz.name }}' 
                    data-address='{{ biz.location.display_address.0 }} {{ biz.location.display_address.1 }}' 
                    data-lat='{{ biz.coordinates.latitude }}' 
                    data-lng='{{ biz.coordinates.longitude }}'>{{ biz.name }}, {{ biz.location.city }}</a>
    </li>
    {% endfor %}

    </div>
    <div class='col-sm-6'>
        <h3>My Google Maps Demo <small><a href='/search/?q={{ request.GET.q }}' style="display:none" id='search-here'>Search here?</a></small></h3>
        <div id='map' class="gmap"></div>
    </div>
</div>


{% endblock %}

{% block script %}


<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqOazqPcP8E-_s-Vp7MRbP3UMUgS2xfQw&callback=initMap">
    </script>


<script>
var locations = [
    {% for biz in results.businesses %}
        {
        lat: {{ biz.coordinates.latitude }}, 
        lng: {{ biz.coordinates.longitude }}, 
        name: "{{ biz.name }}", 
        address:"{{ biz.location.display_address.0 }} {{ biz.location.display_address.1 }}"
        }, 
    {% endfor %}
] 
var map;
var markers =[];
var infoWindow;
  function initMap() {
    var uluru = {lat: {{ results.businesses.0.coordinates.latitude }}, lng: {{ results.businesses.0.coordinates.longitude }}}
    // var uluru = {lat: -25.363, lng: 131.044};
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: parseInt({{ request.GET.zoom }}) || 12, // 0 to 18
      center: uluru
    });
    var searchLink = $('#search-here')
    var defaultSearchLink = searchLink.attr("href")
    map.addListener('center_changed', function(){
        window.setTimeout(function(){
            var mLat = map.center.lat()
            var mLng = map.center.lng()
            getLocalName(mLat, mLng)
            searchLink.fadeIn()
            // searchLink.attr('href', defaultSearchLink + "&loc=" + mLat + "+" + mLng)
            
        }, 1000)
       
    })
    function getLocalName(lat, lng){
        var geocoder = new google.maps.Geocoder()
        var location = new google.maps.LatLng(lat, lng)
        geocoder.geocode({'latLng': location}, function(results, status){
            if( status== google.maps.GeocoderStatus.OK) {
                if (results[2].address_components[2]){
                var longName = results[2].address_components[2].long_name
                console.log(longName)
                searchLink.attr('href', defaultSearchLink + "&loc=" + longName + "&zoom=" + 6)
                }
                // return longName
            }
        })
    }
    infoWindow = new google.maps.InfoWindow()
    function createMaker(latlng, name, address){
        var html = "<b>" + name + "</b><br/>" + address
        var marker = new google.maps.Marker({
              position: latlng,
              map: map
            });
        google.maps.event.addListener(marker, 'click', function(){
            infoWindow.setContent(html)
            infoWindow.open(map, marker)
        })
        return marker
    }
    if (locations.length > 0) {
        for(var i = 0; i < locations.length; i++) {
            var obj = locations[i]
            var latlng = {lat: obj.lat, lng: obj.lng}
            var marker = createMaker(latlng, obj.name, obj.address)
            markers.push(marker)
        }
    }
    function clearLocations(){
        infoWindow.close()
        for (var i = 0; i < markers.length; i++){
            markers[i].setMap(null)
        }
        markers.length = 0
    }
    $('.biz-item').click(function(event){
        event.preventDefault()
        var locData = $(this)
        console.log(locData)
        var name = locData.attr("data-name")
        var address = locData.attr("data-address")
        var lat = parseFloat(locData.attr("data-lat"))
        var lng = parseFloat(locData.attr("data-lng"))
        var latlng = {lat: lat, lng: lng} 
        // 
        // clearLocations()
        var marker = createMaker(latlng, name, address)
        markers.push(marker)
        google.maps.event.trigger(marker, 'click')
        map.setCenter(latlng)
        map.setZoom(16)
    })
  }
</script>



{% endblock %}